doctype html
html
  head
    title 404 Not Found
    style.
      body {
        font-family: 'Arial', sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        color: #666; 
      }
      h1 {
        color: #333;
        font-family: 'EgyptianFont', sans-serif; /* Use a custom font for an Egyptian touch */
      }
      p {
        font-family: 'Arial', sans-serif; /* Maintain readability */
      }
      img {
        width: 300px;
        margin-top: 20px;
      }
      div{
        border-left: 6px solid #e2b77d;
        border-right: 6px solid #e2b77d;
        border-bottom: 6px solid #e2b77d;
      }
div 

body
    h1 404 Not Found
    p Sorry, the requested URL was not found on this server.
    img(src='./imgs/404.png', alt='Image 1')

    p(style='margin-top: 20px; font-weight: bold; font-style: italic;') Ancient hieroglyphics hinting at a lost treasure may be found nearby.

